/media/saanu/xyz1/Movies/userprofile/node_modules

/media/saanu/xyz1/Movies/userprofile/client/node_modules

/media/saanu/xyz1/Movies/userprofile/client/dist

/media/saanu/xyz1/Movies/userprofile/client/e2e
